@model ICA_10.Models.CustomerModel
<h5>@Html.Label("Customer Details:")</h5>
<p>
    <b>@Html.DisplayNameFor(model => model.Name):</b> @Html.DisplayFor(model => model.Name)
</p>
<p>
    <b>@Html.DisplayNameFor(model => model.Age):</b> @Html.DisplayFor(model => model.Age)
   
</p>
