@model List<CLC.Models.CellGrid>
@{
    ViewBag.Title = "Select";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<div class="container" align="center">
    <div class="row">
        <div class="col" align="center">
            <h3>Select game size:</h3>
            @using (Html.BeginForm("Select", "Game"))
            {
                <button type="submit" name="size" value="small" class="btn btn-default">Small</button>
                <button type="submit" name="size" value="medium" class="btn btn-default">Medium</button>
                <button type="submit" name="size" value="large" class="btn btn-default">Large</button>

                <br/>
                <br/>
            }
            @if (Model != null)
            {
                foreach (var e in Model)
                 {
                     using (Html.BeginForm("LoadGame", "Game"))
                     {
                         <button type="submit" name="id" value="@e.Id" class="btn btn-primary" style="width:250px">Time: @e.Time Moves: @e.Moves Size: (@e.Height, @e.Width)</button>
                     }
                 }
            }
        </div>
    </div>
</div>